mirrors:
  registry.stiil.dk:
    endpoint:
    - "https://registry.stiil.dk"
configs:
  registry.stiil.dk:
    auth:
      username: rancher # this is the registry username
      password: {{ registry_password }}
