---
apiVersion: v1
data:
  tls.crt: {{ server_ca_crt_file.content }}
  tls.key: {{ server_ca_key_file.content }}
kind: Secret
metadata:
  name: server-ca
  namespace: cert-manager
type: kubernetes.io/tls

