apiVersion: v1
stringData:
  username: {{ robot_email }}
  password: {{ robot_email_password }}
kind: Secret
metadata:
  name: email-secret
  namespace: jenkins
  labels:
    jenkins.io/credentials-type: usernamePassword
    jenkins.io/credentials-scope: global
  annotations:
    jenkins.io/credentials-description: "robot email Account"
type: Opaque