apiVersion: v1
stringData:
  text: {{ github_token }}
kind: Secret
metadata:
  name: github-token-secret
  namespace: jenkins
  labels:
    jenkins.io/credentials-type: secretText
    jenkins.io/credentials-scope: global
  annotations:
    jenkins.io/credentials-description: "Burads GitHub Account Token"
type: Opaque
---
apiVersion: v1
stringData:
  username: {{ github_email }}
  password: {{ github_token }}
kind: Secret
metadata:
  name: github-login-secret
  namespace: jenkins
  labels:
    jenkins.io/credentials-type: usernamePassword
    jenkins.io/credentials-scope: global
  annotations:
    jenkins.io/credentials-description: "Burads GitHub Account"
type: Opaque