apiVersion: v1
kind: Service
metadata:
  labels:
    app.kubernetes.io/instance: traefik
    app.kubernetes.io/name: traefik-dashboard
  name: traefik-dashboard
  namespace: traefik
spec:
  ports:
  - name: dashboard
    port: 9000
    protocol: TCP
    targetPort: 9000
  selector:
    app.kubernetes.io/instance: traefik-traefik
    app.kubernetes.io/name: traefik
  sessionAffinity: None
  type: NodePort
---
kind: Ingress
apiVersion: networking.k8s.io/v1
metadata:
  labels:
    app.kubernetes.io/instance: traefik
    app.kubernetes.io/name: traefik-dashboard
  name: traefik-dashboard
  namespace: traefik
  annotations:
    kubernetes.io/ingress.class: traefik
    cert-manager.io/cluster-issuer: {{ certificate_issuer_name }}
    traefik.ingress.kubernetes.io/router.tls: "true"
    traefik.ingress.kubernetes.io/router.middlewares: "traefik-authelia-auth-transform@kubernetescrd,traefik-authelia-auth@kubernetescrd,traefik-append-dashboard@kubernetescrd"
spec:
  rules:
  - host: {{ traefik_hostname }}
    http:
      paths:
      - path: /
        pathType: Prefix
        backend:
          service: 
            name: traefik-dashboard
            port: 
              number: 9000
  tls:
  - hosts:
    - {{ traefik_hostname }}
    secretName: {{ traefik_hostname }}
---
apiVersion: traefik.containo.us/v1alpha1
kind: Middleware
metadata:
  name: append-dashboard
  namespace: traefik
spec:
  redirectRegex:
    regex: "^https:\\/\\/([^\\/]+)\\/?$"
    replacement: "https://$1/dashboard/"